<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.goro" android:versionCode="1" android:versionName="0.1-dev">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x400000" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application android:label="Goro" android:icon="@drawable/icon"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen"
        android:debuggable="true" android:allowBackup="false" android:extractNativeLibs="true">
        <activity android:name=".GoroActivity" android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|uiMode"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
